/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.card-style-3 img {
    width: 100%;
    object-fit: cover;
    border: 5px solid goldenrod;
}
.card-style-3 {
    margin: 20px;
    width: 350px;
    .details {
        background-color: goldenrod;
        font-size: 11px;
        padding: 2px;
        text-align: center;
        font-weight: bold;
    }
}
.pokemon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .health {
        font-size: 20px;
    }
}
.attack {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 15px;
}
.description {
    font-size: 13px;
    .bold {
        font-weight: bold;
        font-size: 15px;
    }
}
.power {
    font-weight: bold;
}
.data {
    border: 2px solid goldenrod;
    padding: 0px 5px;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 10px;
}
#pokemon-card-1 {
    background: linear-gradient(-50deg, lightgreen, darkgreen, lightgreen);
    border: 15px solid gold;
    border-radius: 10px;
    padding: 0px 20px;
}
#pokemon-card-2 {
    background: linear-gradient(-50deg, lightgreen, darkgreen, lightgreen);
    border: 15px solid gold;
    border-radius: 10px;
    padding: 0px 20px;
}
#pokemon-card-3 {
    background: linear-gradient(-50deg, orange, rgb(221, 92, 32), orange);
    border: 15px solid gold;
    border-radius: 10px;
    padding: 0px 20px;
}
#pokemon-card-4 {
    background: linear-gradient(-50deg, cyan, #47abab, cyan);
    border: 15px solid gold;
    border-radius: 10px;
    padding: 0px 20px;
}