* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    height: 300px;
}
.single-column {
    width: 80%;
    max-width: 1440px;
    margin: 0px auto;
    text-align: center;
}

