* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
    ;
}
#header {
    grid-area: header;
    padding: 0px 36px;
    #me {
        color: #111;
    }
    a {
        text-decoration: none;
    }
    #tube {
        color: white;
        background-color: #729d85;
        padding: 4px;
        border-radius: 12px;
    }
}
#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
    ul {
        list-style-type: none;
        padding: 12px 0px;
        margin: 0px;
        border-bottom: 1px solid #aaa;
        a {
            text-decoration: none;
            color: #111;
            display: block;
            padding: 12px;
            transition: background-color 0.5s, border-radius 0.5s;
        }
    }
}
#sidebar ul a:hover {
        background-color: #729d85;
        border-radius: 12px;
        color: white;
}
#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}
.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}
.metube-item .thumbnail-placeholder {
    aspect-ratio: 16 / 9;
    background: radial-gradient(at top left, crimson, orange);
    border-radius: 8px;
}