* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-columns {
    display: flex;
    width: 90vw;
}
#sidebar {
    padding: 48px;
    border-right: 2px solid gray;
    flex: 1;
    ul {
        list-style: none;
        padding: 0px;
        li {
            padding: 4px 0px;
        }
        a {
            color: black;
            text-decoration: underline;
        }
    }
}
#main {
    padding: 48px;
    flex: 2;
    h2 {
        border-bottom: 2px solid black;
    }
}