* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.contain {
    width: 80vw;
    max-width: 1440px;
    margin: 0px auto;
}
#navbar {
    background: linear-gradient(to bottom, green, #3e6d3e);
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0px;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 24px;
    }
    #logo {
        width: 150px;
    }
    .btn {
        background-color: white;
        color: green;
        border-radius: 36px;
        padding: 16px 24px;
        font-size: 20px;
        font-weight: bold;
        min-width: 150px;
        text-align: center;
        margin-right: 24px;
    }
}