* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#single-column {
    width: 95%;
    max-width: 1200px;
    margin: 0px auto;
}
#hero {
    background-image: url(../images/flowerbedhero.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 5rem;
        margin-bottom: 600px;
        text-transform: uppercase;
    }
}
.basic-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}