* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#grid-layout {
    display: grid;
    grid-template-columns: 1fr 70% 30% 1fr;
    grid-template-areas: 
        ". blog sidebar ."
    ;
}
img {
    height: 250px;
}
.author {
    display: flex;
}
#sidebar {
    grid-area: sidebar;
    padding: 18px;
}
#main {
    grid-area: blog;
    margin: 18px 36px;
}
#author {
    flex: 2;
}
#publish {
    flex: 1;
}

